<template name="about">

    <div class="about">

        <div class="image">
            <img src="/favicon.png?v=2">
            <span>ShareLinks</span>
        </div>
        <p>ShareLinks是多用户共享优质链接的一个平台，目的在于不同用户间共享自己收藏的好的内容，为了尊重版权，共享采用链接的形式。</p>

        <p>目前平台的链接资源还很欠缺，但是注意保证宁缺毋滥</p>
    </div>

</template>