<template name="category">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        分类
        <b class="caret"></b>
    </a>
    <ul class="notification dropdown-menu">
        {{#each category}}
            {{> categoryItem}}
        {{/each}}
    </ul>
</template>

<template name="categoryItem">
    <li>
        <a style="cursor: pointer;" href="/category/{{name}}">
            {{name}}
        </a>
    </li>
</template>