<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" sizes="16x16 32x32" href="/favicon.png?v=2">
    <title>ShareLinks</title>
</head>