<template name="postPage">
    {{> postItem}}
    <button type="button" id="starBtn" class="starBtn btn btn-default">
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span> <i name="starSpan">{{star}}</i>
    </button>

    <button type="button" id="badBtn" class="starBtn btn btn-default">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> <i name="badBtn">建议删除</i>
    </button>

    <ul class="comments">
        {{#each comments}}
            {{> commentItem}}
        {{/each}}
    </ul>

    {{#if currentUser}}
        {{> commentSubmit}}
    {{else}}
        <p>Please log in to leave a comment.</p>
    {{/if}}
</template>