<template name="postsList">
    <div class="posts">
        {{#each posts}}
            {{> postItem}}
        {{/each}}
        {{#if nextPath}}
            <a class="load-more" href="{{nextPath}}">加载更多</a>
        {{else}}
            {{#unless ready}}
                {{> spinner}}
            {{/unless}}
        {{/if}}
    </div>
</template>